    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sobre a eQuanta</h2>
                <p>Organizada a partir da experiência de mais de 15 anos de sua equipe, a eQuanta iniciou suas atividades em 2013, 
propondo abordagens orgânicas de cooperação e sinergia entre profissionais e clientes, aliando rigor técnico, 
custo-efetividade e excelência nas relações.</p>
                <p>Nosso principal objeto é o diagnóstico, gestão e recuperação da biodiversidade, em ambientes marinhos, dulcícolas e terrestres,
em interação com a diversidade cultural e pluralidade de atores inerente às questões socioambientais.</p>
                <p>Acreditamos que a sustentabilidade socioecológica é possível e pode ser construída a partir da produção e uso do conhecimento técnico, científico e tradicional, em processos interativos e participativos..</p>
                <p>Nossa atuação técnica é pautada na utilização de conhecimento e ferramentas de vanguarda, atuando 
em conjunto com metodologias consolidadas e reconhecidas.</p>
            </div>
        </div>
    </section>
