    <!-- Contact Section -->
    <section id="contato" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contato</h2>
                <h3>O melhor caminho</h3>                
                <p>Você será sempre benvindo a contactar-nos, e o melhor modo é através de e-mail. Pelo fato de estarmos sediados em Taiaçupeba, área rural de Mogi das Cruzes, e de a natureza atividades normalmente em locais afastados, muitas vezes sem sinal telefônico, podemos não conseguir respondê-los em imediato. Todas as solicitações serão atendidas assim que possível. </p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <h3>Sinal fraco</h3>
                <p>Podemos receber ligações em nossos telefones, mesmo chamadas internacionais. Serão sempre benvindos! Mas na nossa sede o sinal telefônico é fraco. </p>
                <h3>Checando a nossa existência</h3>
                <p>Agora se quiser confirmar nossa existência, podemos marcar uma reunião à distância por skype ou então agendar uma reunião presencial, onde falaremos de todos os detalhes dos sesviços. </p>    
                
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
