    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contato</h2>
                <h3>O melhor caminho . . .</h3>                
                <p>é através de e-mail. Estamos sediados em Taiaçupeba, área rural de Mogi das Cruzes, e nossas atividades normalmente acontecem em locais afastados, muitas vezes sem sinal telefônico. Talvez não consigamos responder em imediato, mas sempre retornaremos tão logo que possível. As chamadas telefônicas serão sempre benvindas! Mas mesmo em nossa sede o sinal é fraco. </p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <h3>Checando a nossa existência</h3>
                <p>Caso precisem confirmar nossa existência, podemos marcar uma reunião à distância por skype ou então agendar uma reunião presencial, onde falaremos de detalhes dos serviços. </p>    
                
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
